* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}

h1 {
  font-family: "Bungee Shade", cursive;
  color: black;
  font-size: 5rem;
}

.content {
  height: 300px;
  width: 300px;
  color: rgb(184, 177, 37);
}
